* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f7fd;
}

#section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-schedule {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  text-align: center;
}

.section-schedule h2 {
  color: #0e1b4d;
  margin-bottom: 10px;
}

.section-schedule p {
  color: #a1a4b0;
}

.section-element {
  width: 50px;
  height: 4px;
  background-color: #f82249;
  margin: 10px auto;
}

.section-day {
  display: flex;
  flex-direction: column;
}

.section-day-item {
  margin: 5px auto;
  background-color: #0e1b4d;
  color: white;
  text-align: center;
  width: 20%;
  border-radius: 20px;
  padding: 5px;
}

.section-day-item:hover {
  background-color: #f82249;
}

.section-text {
  display: flex;
  text-align: center;
  margin: 10px;
  color: #505b7f;
}

.section-info {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.section-info-item {
  display: flex;
  flex-direction: row;
  height: fit-content;
  padding: 5px;
  border-bottom: solid grey 1px;
  margin-top: 5px;
}

.last {
  border: none;
}

.section-info-time {
  color: #a1a4b0;
  display: flex;
  min-width: 70px;
  max-width: fit-content;
  margin-right: 30px;
}

.section-info-text {
  color: #0e1b4d;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.section-info-picture {
  display: flex;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-image: url("/zadatak6/images/download.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.section-info-picture img {
  width: 50px;
  height: 50px;
}

@media all and(min-width: 768px) {
  #section {
    max-width: 900px;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
  }

  .section-day {
    flex-direction: row;
    width: 90%;
    margin-bottom: 30px;
  }

  .section-day-item {
    width: 30%;
    margin: 2px;
    padding: 7px;
  }
}
