body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  padding: 0 auto;
}

#header {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 400px;
  text-align: center;
}

#header p {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    AppleGothic, sans-serif;
  color: gray;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.box {
  max-width: 250px;
  margin: 10px;
}

.cost {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: red;
  display: inline;
  float: right;
  margin-top: 0;
}

.content {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    AppleGothic, sans-serif;
  color: gray;
  font-size: 12px;
}

.box img {
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 20px;
}

.box h2 {
  font-size: medium;
  font-weight: lighter;
  display: inline;
}

.box button {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 10px;
  border: solid black 2px;
  height: 35px;
  width: 90px;
  text-align: center;
  float: left;
  margin-top: 20px;
  padding: 10px;
}

@media all and (min-width: 768px) {
  #wrapper {
    display: flex;
    flex-direction: row;
  }
}
